@import 'base.css';

#main-body {
    padding: 0px 20px 0px 20px;
    overflow-wrap: normal;
}

h1 {
    font-family: 'Overpass', 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Open Sans', 'Bookman', sans-serif;
}
