@import 'base.css';

#main-body {
    padding: 0px 20px 0px 20px;
    overflow-wrap: normal;
}

h1 {
    font-family: 'Overpass', 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Open Sans', 'Bookman', sans-serif;
}

table {
    width: 100%;
}

table td {
    text-align: left;
    vertical-align: top;
}

table h3 {
    font-family: 'Overpass', 'Trebuchet MS', sans-serif;
    font-size: 24pt;
}